# Gradle / Kotlin
.gradle/
build/
**/build/
captures/
local.properties
*.hprof
.kotlin/

# Android
*.apk
*.aab
*.keystore
*.jks
keystore.properties

# Xcode / iOS
xcuserdata/
*.xcuserstate
DerivedData/
*.ipa
Pods/
.idea/

# OS
.DS_Store
